.dashboard-center .quote-card {
  height: 160px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-center .quote-card .quote {
  display: flex;
  flex-direction: column;
}

.dashboard-center .quote-card .quote span:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}

.dashboard-center .quote-card .quote span:nth-child(2) {
  font-size: 18px;
  margin-top: 10px;
}

.dashboard-center button {
  background: #00ecc2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  height: 50px;
  color: #fff;
  font-size: 18px;
  width: 230px;
  cursor: pointer;
}

/* Used Info */
.dashboard-center .used-info {
  height: 90px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.dashboard-center .used-info span {
  font-weight: 500;
}

.dashboard-center .used-info .seperator {
  width: 50px;
  height: 0px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  transform: rotate(90deg);
}

/* Copy Generator Types */
.dashboard-center .copy-generator-types {
  height: calc(100vh - 380px);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
}

.dashboard-center .copy-generator-types .header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  height: 30px;
}

.dashboard-center .copy-generator-types .card-container {
  height: calc(100vh - 425px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.dashboard-center .copy-generator-types .card-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.dashboard-center .copy-generator-types .card-container:hover::-webkit-scrollbar-thumb {
  background: #00ecc2;
  border-radius: 100px;
}

.dashboard-center .copy-generator-types .header span:nth-child(2) {
  color: #404040;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.dashboard-center .copy-generator-types .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.dashboard-center .copy-generator-types .card {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background: rgba(248, 248, 249, 0.5);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.dashboard-center .copy-generator-types .card:hover {
  background: rgba(0, 236, 194, 0.05);
}

.dashboard-center .copy-generator-types .card img {
  height: 24px;
  width: 24px;
}

.dashboard-center .copy-generator-types .card div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.dashboard-center .copy-generator-types .card span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.dashboard-center .copy-generator-types .card span:nth-child(2) {
  font-size: 12px;
  color: #404040;
}

.dashboard-center .tooltip {
  /* other styles */
  position: absolute;
  background-color: rgb(87, 87, 87);
  color: white;
  padding: 2px 8px;
  border-radius: 1px;
  transition: visibility 0s linear 100ms, opacity 100ms;
  visibility: hidden;
  opacity: 0;
  font-size: 10px;
  margin-top: 3px;
  margin-left: 5px;
  font-weight: 400 !important;
}

/* trigger element */
.dashboard-center .trigger:hover .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}