.left-side-bar {
  height: calc(100vh - 90px);
  background-color: #fff;
  margin-top: 20px;
  border-top-right-radius: 10px;
  padding: 15px 10px;
  font-size: 18px;
  overflow: scroll;
}

.left-side-bar .button {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}

.left-side-bar .button svg {
 height: 26px;
 width: 26px;
}

.left-side-bar .button span:nth-child(1) {
  margin-left: 20px;
}

.left-side-bar .button span:nth-child(2) {
  margin-left: 30px;
}

.left-side-bar .button span {
  display: flex;
  align-items: center;
}

.left-side-bar .button span div {
  font-size: 12px;
  font-weight: 300;
  margin-left: 8px;
  margin-top: 3px;
}

.left-side-bar .button:hover {
  background: hsla(240,8%,97%,.5);
}

.left-side-bar .button:hover path {
  stroke: #000;
}

.left-side-bar .active {
  background: rgba(0, 236, 194, 0.1);
  color: #00ECC2;
  font-weight: 600;
}
