.right-saved {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 15px 20px;
  font-size: 18px;
}

.right-saved .title {
  font-size: 18px;
  font-weight: 500;
}

.right-saved select {
  height: 46px;
  padding: 10px 10px;
  margin-top: 10px;
  color: #333333;
  border: none;
  width: 100%;
  border-radius: 5px;
  color: #333333;
  background: url(../../assets/Down.svg) 97% center no-repeat #f8f8f9 !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

#copy {
  position: absolute;
  top: -1000px;
}
