.right-section-apps {
  height: calc(100vh - 90px);
  background-color: #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 10px;
  overflow: hidden
}

.right-section-apps .title {
  font-size: 18px;
  font-weight: 500;
}

.right-section-apps input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background: #f8f8f9;
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 300;
}

.right-section-apps .apps-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.right-section-apps .card .box {
  width: 120px;
  height: 70px;
  background: rgba(0, 120, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 5px;
}

.right-section-apps p {
    color: #404040;
    font-size: 12px;
}

.right-section-apps .card-container {
  margin: 0px;
  height: calc(100vh - 180px);
  overflow: scroll;
  padding-bottom: 10px;
}

.right-section-apps .card-container .card {
  margin-top: 10px;
  color: #26272d;
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  padding: 10px;
}

.right-section-apps .card-container .card p {
  font-size: 16px;
}

.right-section-apps select {
  height: 40px;
  padding: 0px 10px;
  margin-top: 10px;
  color: #333333;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  color: #333333;
  background: url(../../assets/Down.svg) 97% center no-repeat #f8f8f9 !important;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}